<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cbbhy.schoolshare.logic.mapping.AccumulatePointMapper">
    <resultMap id="BaseResultMap" type="cn.cbbhy.schoolshare.logic.model.AccumulatePoint">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="USER_ID" jdbcType="VARCHAR" property="userId"/>
        <result column="POINTS" jdbcType="INTEGER" property="points"/>
        <result column="POINT_TYPE" jdbcType="CHAR" property="pointType"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="STATUS" jdbcType="CHAR" property="status"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, USER_ID, POINTS, POINT_TYPE, REMARK, STATUS, CREATE_TIME
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_accumulate_point
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_accumulate_point
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="cn.cbbhy.schoolshare.logic.model.AccumulatePoint">
    insert into t_accumulate_point (ID, USER_ID, POINTS, 
      POINT_TYPE, REMARK, STATUS, CREATE_TIME
      )
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{points,jdbcType=INTEGER}, 
      #{pointType,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="cn.cbbhy.schoolshare.logic.model.AccumulatePoint">
        insert into t_accumulate_point
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="points != null">
                POINTS,
            </if>
            <if test="pointType != null">
                POINT_TYPE,
            </if>
            <if test="remark != null">
                REMARK,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="points != null">
                #{points,jdbcType=INTEGER},
            </if>
            <if test="pointType != null">
                #{pointType,jdbcType=CHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.cbbhy.schoolshare.logic.model.AccumulatePoint">
        update t_accumulate_point
        <set>
            <if test="userId != null">
                USER_ID = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="points != null">
                POINTS = #{points,jdbcType=INTEGER},
            </if>
            <if test="pointType != null">
                POINT_TYPE = #{pointType,jdbcType=CHAR},
            </if>
            <if test="remark != null">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.cbbhy.schoolshare.logic.model.AccumulatePoint">
    update t_accumulate_point
    set USER_ID = #{userId,jdbcType=VARCHAR},
      POINTS = #{points,jdbcType=INTEGER},
      POINT_TYPE = #{pointType,jdbcType=CHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
    <!--统计用户的积分-->
    <select id="countUserPoints" parameterType="java.lang.String" resultType="java.lang.Integer">
        select COUNT(POINTS)
        from t_accumulate_point
        where USER_ID = #{userID,jdbcType=VARCHAR}
    </select>
    <!--查找用户所有的积分项目-->
    <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_accumulate_point
        where USER_ID = #{userID,jdbcType=VARCHAR}
    </select>
</mapper>