<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cbbhy.schoolshare.logic.mapping.ShareOrderMapper">
  <resultMap id="BaseResultMap" type="cn.cbbhy.schoolshare.logic.model.ShareOrder">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
      <collection property="orderDetailsList" javaType="java.util.ArrayList" ofType="cn.cbbhy.schoolshare.logic.model.ShareOrderDetails">
          <id column="ID" jdbcType="VARCHAR" property="id" />
          <result column="SHARE_ORDER_ID" jdbcType="VARCHAR" property="shareOrderId" />
          <result column="ARTICLE_ID" jdbcType="VARCHAR" property="articleId" />
          <result column="ARTICLE_COUNT" jdbcType="INTEGER" property="articleCount" />
          <result column="STATUS" jdbcType="VARCHAR" property="status" />
      </collection>
  </resultMap>
  <sql id="Base_Column_List">
    ID, USER_ID, STATUS, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_share_order
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_share_order
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.cbbhy.schoolshare.logic.model.ShareOrder">
    insert into t_share_order (ID, USER_ID, STATUS, 
      CREATE_TIME)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.cbbhy.schoolshare.logic.model.ShareOrder">
    insert into t_share_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cbbhy.schoolshare.logic.model.ShareOrder">
    update t_share_order
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cbbhy.schoolshare.logic.model.ShareOrder">
    update t_share_order
    set USER_ID = #{userId,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <!--根据ID查找订单-->
  <select id="selectShareOrder" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    t1.*,t2.*
    from t_share_order  t1 left join t_share_order_details t2 on t1.ID=t2.SHARE_ORDER_ID
    where t1.ID = #{id,jdbcType=VARCHAR}
  </select>
    <!--根据用户ID查找订单-->
    <select id="listShareOrderByUsere" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        t1.*,t2.*
        from t_share_order  t1 left join t_share_order_details t2 on t1.ID=t2.SHARE_ORDER_ID
        where t1.USER_ID = #{userId,jdbcType=VARCHAR}
    </select>
</mapper>