<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cbbhy.schoolshare.logic.mapping.StudentFileUploadMapper">
  <resultMap id="BaseResultMap" type="cn.cbbhy.schoolshare.logic.model.StudentFileUpload">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="UPLOADER" jdbcType="VARCHAR" property="uploader" />
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName" />
    <result column="FILE_ID" jdbcType="VARCHAR" property="fileId" />
    <result column="UPLOAD_TIME" jdbcType="TIMESTAMP" property="uploadTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, UPLOADER, FILE_NAME, FILE_ID, UPLOAD_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_wyu_students_file_upload
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_wyu_students_file_upload
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.cbbhy.schoolshare.logic.model.StudentFileUpload">
    insert into t_wyu_students_file_upload (ID, UPLOADER, FILE_NAME, 
      FILE_ID, UPLOAD_TIME)
    values (#{id,jdbcType=VARCHAR}, #{uploader,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, 
      #{fileId,jdbcType=VARCHAR}, #{uploadTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.cbbhy.schoolshare.logic.model.StudentFileUpload">
    insert into t_wyu_students_file_upload
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="uploader != null">
        UPLOADER,
      </if>
      <if test="fileName != null">
        FILE_NAME,
      </if>
      <if test="fileId != null">
        FILE_ID,
      </if>
      <if test="uploadTime != null">
        UPLOAD_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="uploader != null">
        #{uploader,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null">
        #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cbbhy.schoolshare.logic.model.StudentFileUpload">
    update t_wyu_students_file_upload
    <set>
      <if test="uploader != null">
        UPLOADER = #{uploader,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        FILE_NAME = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null">
        FILE_ID = #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        UPLOAD_TIME = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cbbhy.schoolshare.logic.model.StudentFileUpload">
    update t_wyu_students_file_upload
    set UPLOADER = #{uploader,jdbcType=VARCHAR},
      FILE_NAME = #{fileName,jdbcType=VARCHAR},
      FILE_ID = #{fileId,jdbcType=VARCHAR},
      UPLOAD_TIME = #{uploadTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>