<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cbbhy.schoolshare.logic.mapping.UserTableRelatedMapper">
  <resultMap id="BaseResultMap" type="cn.cbbhy.schoolshare.logic.model.UserTableRelated">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="TABLE_ID" jdbcType="VARCHAR" property="tableId" />
    <result column="IS_PERMIT" jdbcType="CHAR" property="isPermit" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, USER_ID, TABLE_ID, IS_PERMIT, STATUS, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_wyu_user_table
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_wyu_user_table
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.cbbhy.schoolshare.logic.model.UserTableRelated">
    insert into t_wyu_user_table (ID, USER_ID, TABLE_ID, 
      IS_PERMIT, STATUS, CREATE_TIME
      )
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{tableId,jdbcType=VARCHAR}, 
      #{isPermit,jdbcType=CHAR}, #{status,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.cbbhy.schoolshare.logic.model.UserTableRelated">
    insert into t_wyu_user_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="tableId != null">
        TABLE_ID,
      </if>
      <if test="isPermit != null">
        IS_PERMIT,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="tableId != null">
        #{tableId,jdbcType=VARCHAR},
      </if>
      <if test="isPermit != null">
        #{isPermit,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cbbhy.schoolshare.logic.model.UserTableRelated">
    update t_wyu_user_table
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="tableId != null">
        TABLE_ID = #{tableId,jdbcType=VARCHAR},
      </if>
      <if test="isPermit != null">
        IS_PERMIT = #{isPermit,jdbcType=CHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cbbhy.schoolshare.logic.model.UserTableRelated">
    update t_wyu_user_table
    set USER_ID = #{userId,jdbcType=VARCHAR},
      TABLE_ID = #{tableId,jdbcType=VARCHAR},
      IS_PERMIT = #{isPermit,jdbcType=CHAR},
      STATUS = #{status,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>